/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.main-app {
    display: flex;
}

.section {
    min-width: 50vh;
    min-height: 50vh;
    padding: 0 !important;
}

.section-header {
    display: flex;
    align-items: center;
    width: 100%;
    min-height: 30px;
}

.section-header-title {
    margin-left: 5px;
    font-size: 40px;
    font-weight: 500;
}

.section-header-actions {
    margin-left: auto;
    margin-right: 10px;
}

.header-icon {
    border: none;
    margin-right: 10px;
    background: none;
    font-size: 40px;
    color: #008607;
}

.action-icon {
    cursor: pointer;
    border: none;
    margin-top:10px;
    margin-right: 40px;
    background: none;
    font-size: 50px;
    color: #808080;
}

    .action-icon:hover {
        color: #000000;
        background-color: #eeeeee;
    }

#tree {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

ul, #tree {
    list-style-type: none;
}

    #tree ul {
        margin: 0;
        padding-left: 20px;
        border-left: 1px dashed #878787;
    }

    #tree :first-child {
        border: none !important;
    }

.caret {
    cursor: pointer;
    user-select: none;
}

    .caret::before {
        content: "\25B6";
        color: black;
        display: inline-block;
        margin-right: 6px;
    }

.caret-down::before {
    transform: rotate(90deg);
}

.nested {
    display: normal;
}

.empty, .tree-actions {
    margin-left: 19px;
}

.active {
    display: block;
}

.modal-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end
}

    .modal-buttons button {
        margin: 10px;
    }